fastapi
uvicorn
sqlalchemy
pymysql
python-multipart

fastapi
uvicorn
sqlalchemy
pymysql
python-multipart
PyPDF2
cryptography

PyPDF2
fastapi
uvicorn
sqlalchemy
pymysql
python-multipart
PyPDF2
cryptography
python-dotenv
